<div ng-controller="NagsController as nagsCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Nag</th>
          </tr>
        </thead>
        <tbody>
          <tr class="nag-row" ng-attr-id="{{'nag-row-' + nag.id}}" ng-repeat="nag in nagsCtrl.nags" ng-if="nag.status == 'active'">
            <td><input type="checkbox" class="nag-checkbox" ng-attr-id="{{'nag-checkbox-' + nag.id}}" ng-click="nagsCtrl.declareDone(nag.id)"></input></td>
            <td class="nag-contents" ng-attr-id="{{'nag-contents-' + nag.id}}">{{nag.contents}}</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <form name="newNagForm" ng-submit="nagsCtrl.newNag.contents != undefined && nagsCtrl.addNag()">
                <div class="newNagSection">
                  <input id="newNagContentsInput" type="text" name="newNagContents" ng-model="nagsCtrl.newNag.contents"></input>
                  <div class="error-message" ng-show="nagsCtrl.newNag.contents == undefined">Can't be blank!</div>
                </div>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
