<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center">The Nagging Machine</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 well">
    <h3 class="text-center">Do you have tasks you keep putting off?</h3>
    <p>Tell The Nagging Machine and it will send you texts during the day to remind you. You can even interact with it via text commands. No browser necessary.</p>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="row">
            <a class="col-xs-12 btn btn-primary" href="/login">Sign In</a>
        </div>
        <br>
        <div class="row">
            <a class="col-xs-12 btn btn-success" href="/sign_up">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
