<div id="navbar" ng-controller="SessionsController as seshCtrl" ng-hide="!seshCtrl.loggedIn()">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">The Nagging Machine</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Hi!</a></li>
          <li><a href="#" ng-click="seshCtrl.destroyCurrentSession()">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
